# Modeling Neighborhood Dynamics

We will use the Columbus MSA as an example to illustrate the `dynamics` module of `geosnap`.

* Modeling transition rates
* Analyzing whole neighborhood sequence

## Data preperation

* Geodemographics for neighborhood segamentation

In [1]:
from geosnap.data import Community, data_store as store
import matplotlib.pyplot as plt
import seaborn as sns
import sys, os
sns.set_context('notebook')
import warnings
warnings.filterwarnings("ignore")

In [2]:
columbusfips=store.msas()[store.msas().name.str.startswith('Columbus, OH')].geoid.values[0]

In [3]:
columbusfipsd

'18140'

In [4]:
columbus = Community.from_ltdb(msa_fips=columbusfips)

In [5]:
columbus.cluster(columns=['median_household_income', 'p_poverty_rate', 'p_edu_college_greater', 'p_unemployment_rate'], method='ward')

In [8]:
columbus.gdf

,n_asian_under_15,n_black_under_15,n_hispanic_under_15,n_native_under_15,n_white_under_15,n_persons_under_18,n_asian_over_60,n_black_over_60,n_hispanic_over_60,n_native_over_60,...,n_total_housing_units_sample,p_nonhisp_white_persons,p_white_over_60,p_black_over_60,p_hispanic_over_60,p_native_over_60,p_asian_over_60,p_disabled,geometry,ward
geoid,,,,,,,,,,,,,,,,,,,,,
39041010100,NaN,73.000000,NaN,NaN,1238.000000,1483.000000,NaN,32.000000,NaN,NaN,...,2001.000000,NaN,14.114495,0.451213,NaN,NaN,NaN,4.244219,"POLYGON ((-83.082292 40.29946, -83.082549 40.3...",3
39041010200,NaN,5.472672,NaN,NaN,1426.479469,1599.197822,NaN,5.387974,NaN,NaN,...,1529.132207,NaN,12.308566,0.120177,NaN,NaN,NaN,8.510786,"POLYGON ((-83.071978 40.327509, -83.02909 40.3...",1
39041010420,NaN,1.505399,NaN,NaN,126.788033,147.696350,NaN,0.167267,NaN,NaN,...,126.286232,NaN,9.413255,0.042212,NaN,NaN,NaN,3.292529,"POLYGON ((-83.09434499999999 40.328399, -83.09...",0
39041010421,NaN,1.095593,NaN,NaN,92.273573,107.490183,NaN,0.121733,NaN,NaN,...,91.908363,NaN,9.413270,0.042212,NaN,NaN,NaN,3.292555,"POLYGON ((-83.126183 40.306402, -83.1249409999...",0
39041010422,NaN,2.941651,NaN,NaN,247.761943,288.619354,NaN,0.326855,NaN,NaN,...,246.780934,NaN,9.413450,0.042211,NaN,NaN,NaN,3.292857,"POLYGON ((-83.12404599999999 40.330013, -83.11...",0
39041010520,NaN,63.361351,NaN,NaN,340.952014,447.127047,NaN,14.887277,NaN,NaN,...,394.780062,NaN,9.258405,1.201641,NaN,NaN,NaN,6.239844,"POLYGON ((-83.128518 40.278896, -83.128158 40....",1
39041010530,NaN,14.501827,NaN,NaN,78.019829,102.310387,NaN,3.407929,NaN,NaN,...,90.346382,NaN,9.258312,1.202046,NaN,NaN,NaN,6.240409,"POLYGON ((-83.08266499999999 40.292869, -83.07...",1
39041011101,NaN,NaN,NaN,NaN,417.840286,473.756582,NaN,NaN,NaN,NaN,...,414.010388,NaN,15.347432,NaN,NaN,NaN,NaN,7.854984,POLYGON ((-83.03037999999999 40.30671299999999...,1
39041011102,NaN,NaN,NaN,NaN,672.996167,763.058005,NaN,NaN,NaN,NaN,...,666.827523,NaN,15.347431,NaN,NaN,NaN,NaN,7.854984,"POLYGON ((-83.030997 40.296993, -83.030845 40....",1
39041011200,NaN,1.614882,NaN,NaN,559.153015,633.033875,NaN,0.403721,NaN,NaN,...,538.563293,NaN,13.320826,0.023452,NaN,NaN,NaN,9.849906,"POLYGON ((-83.138988 40.350694, -83.1220939999...",3
39041011411,NaN,3.952978,NaN,NaN,51.926315,67.801476,NaN,0.379486,NaN,NaN,...,48.384449,NaN,10.219823,0.231392,NaN,NaN,NaN,5.399152,"POLYGON ((-83.17004899999999 40.150017, -83.16...",3
39041011412,NaN,11.540146,NaN,NaN,151.591354,197.936584,NaN,1.107854,NaN,NaN,...,141.251389,NaN,10.219823,0.231392,NaN,NaN,NaN,5.399151,"POLYGON ((-83.170874 40.182775, -83.1601589999...",3
39041011413,NaN,52.659063,NaN,NaN,511.041120,749.191708,NaN,3.523417,NaN,NaN,...,458.209953,NaN,9.484999,0.208088,NaN,NaN,NaN,4.855361,"POLYGON ((-83.193946 40.253433, -83.1828079999...",3
39041011421,NaN,7.316133,NaN,NaN,96.439012,125.862850,NaN,0.702349,NaN,NaN,...,89.865393,NaN,10.226690,0.230621,NaN,NaN,NaN,5.394535,"POLYGON ((-83.08902599999999 40.146105, -83.08...",3
39041011423,NaN,12.210974,NaN,NaN,160.464692,209.511720,NaN,1.172253,NaN,NaN,...,149.520281,NaN,10.220580,0.231307,NaN,NaN,NaN,5.398643,"POLYGON ((-83.08816 40.179483, -83.08442599999...",3
39041011430,NaN,7.054083,NaN,NaN,92.662437,120.991638,NaN,0.677192,NaN,NaN,...,86.341980,NaN,10.219822,0.231392,NaN,NaN,NaN,5.399152,"POLYGON ((-83.12553699999999 40.154075, -83.12...",3
39041011520,NaN,NaN,NaN,NaN,44.777767,50.436497,NaN,NaN,NaN,NaN,...,42.317448,NaN,12.281232,NaN,NaN,NaN,NaN,4.013277,"POLYGON ((-83.03905 40.175762, -83.021777 40.1...",3
39041011530,NaN,NaN,NaN,NaN,19.273714,21.709402,NaN,NaN,NaN,NaN,...,18.214718,NaN,12.281231,NaN,NaN,NaN,NaN,4.013277,"POLYGON ((-83.008242 40.174603, -83.0006789999...",3
39041011540,NaN,0.000353,NaN,NaN,80.134148,90.259886,NaN,0.000470,NaN,NaN,...,75.711782,NaN,12.277085,0.000193,NaN,NaN,NaN,4.016635,"POLYGON ((-82.992811 40.162819, -82.9926289999...",3
39041011550,NaN,NaN,NaN,NaN,390.967590,440.375580,NaN,NaN,NaN,NaN,...,369.485840,NaN,12.281231,NaN,NaN,NaN,NaN,4.013277,"POLYGON ((-83.03788899999999 40.195294, -83.03...",3
39041011560,NaN,NaN,NaN,NaN,413.486725,465.740540,NaN,NaN,NaN,NaN,...,390.767670,NaN,12.281231,NaN,NaN,NaN,NaN,4.013277,"POLYGON ((-83.006057 40.24016599999999, -82.98...",3
39041011561,NaN,NaN,NaN,NaN,82.469650,92.891640,NaN,NaN,NaN,NaN,...,77.938347,NaN,12.281231,NaN,NaN,NaN,NaN,4.013277,"POLYGON ((-83.03993699999999 40.156514, -83.03...",3
39041011604,NaN,0.791359,NaN,NaN,669.885742,752.582825,NaN,1.582719,NaN,NaN,...,625.173950,NaN,14.632237,0.078247,NaN,NaN,NaN,3.071205,"POLYGON ((-82.94145399999999 40.212195, -82.94...",3
39041011710,NaN,0.129823,NaN,NaN,69.325417,77.677361,NaN,0.173097,NaN,NaN,...,58.377022,NaN,10.426130,0.086524,NaN,NaN,NaN,5.515899,"POLYGON ((-82.924004 40.146707, -82.92388 40.1...",3
39041011730,NaN,0.158564,NaN,NaN,84.673256,94.874214,NaN,0.211419,NaN,NaN,...,71.301010,NaN,10.426130,0.086524,NaN,NaN,NaN,5.515899,"POLYGON ((-82.933627 40.172649, -82.9254589999...",3
39041011740,NaN,0.135136,NaN,NaN,72.162399,80.856125,NaN,0.180181,NaN,NaN,...,60.765965,NaN,10.426130,0.086524,NaN,NaN,NaN,5.515899,"POLYGON ((-82.90154199999999 40.145925, -82.90...",3
39041011750,NaN,0.777830,NaN,NaN,415.361481,465.401886,NaN,1.037107,NaN,NaN,...,349.764435,NaN,10.426130,0.086524,NaN,NaN,NaN,5.515899,"POLYGON ((-82.94532599999999 40.165611, -82.94...",3
39041011760,NaN,1.617838,NaN,NaN,863.925720,968.006653,NaN,2.157118,NaN,NaN,...,727.487976,NaN,10.426131,0.086524,NaN,NaN,NaN,5.515899,"POLYGON ((-82.872731 40.191122, -82.8716149999...",3
39041011762,NaN,0.180456,NaN,NaN,99.418685,111.414119,NaN,0.240608,NaN,NaN,...,84.032380,NaN,10.485990,0.083732,NaN,NaN,NaN,5.467413,"POLYGON ((-82.95152899999999 40.150821, -82.95...",3
39041011900,NaN,6.044368,NaN,NaN,79.398811,103.672997,NaN,0.580259,NaN,NaN,...,73.983063,NaN,10.219822,0.231392,NaN,NaN,NaN,5.399152,"POLYGON ((-83.129386 40.1814, -83.125981999999...",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39159050100,3.000000,5.000000,2.000000,1.000000,794.000000,914.000000,0.000000,0.000000,3.000000,2.000000,...,1232.000000,98.843389,18.380744,0.000000,0.093779,0.062520,0.000000,11.409816,"POLYGON ((-83.529747 40.423203, -83.528215 40....",1
39159050200,0.000000,5.000000,4.000000,3.000000,980.000000,1106.000000,0.000000,5.000000,0.000000,0.000000,...,1557.000000,98.769463,16.248117,0.125565,0.000000,0.000000,0.000000,10.145655,"POLYGON ((-83.536238 40.365789, -83.534762 40....",3
39159050301,1.077276,2.872735,2.154551,0.359092,468.973968,535.406006,0.000000,0.718184,0.000000,0.000000,...,608.660706,99.010101,13.454545,0.040404,0.000000,0.000000,0.000000,7.939394,"POLYGON ((-83.548306 40.256012, -83.5455669999...",3
39159050303,1.071029,2.856078,2.142059,0.357010,466.254761,532.301575,0.000000,0.714020,0.000000,0.000000,...,605.131592,99.010101,13.454545,0.040404,0.000000,0.000000,0.000000,7.939394,"POLYGON ((-83.398473 40.29322, -83.39647699999...",3
39159050304,0.851695,2.271187,1.703390,0.283898,370.771240,423.292450,0.000000,0.567797,0.000000,0.000000,...,481.207703,99.010101,13.454546,0.040404,0.000000,0.000000,0.000000,7.939394,"POLYGON ((-83.45484499999999 40.325218, -83.45...",3
39159050400,9.000579,7.001543,9.000579,0.000386,882.118727,1017.138210,3.000096,15.000193,7.000000,0.000000,...,1666.172835,80.755522,13.961044,0.270543,0.126252,0.000000,0.054110,6.349432,"POLYGON ((-83.398601 40.239978, -83.397959 40....",3
39159050500,10.000000,6.000000,14.000000,1.000000,1043.000000,1187.000000,1.000000,7.000000,5.000000,2.000000,...,1959.000000,97.939952,18.891080,0.153408,0.109577,0.043831,0.021915,11.527504,POLYGON ((-83.39540000000001 40.21129699999999...,3
39159050601,2.675444,6.115533,0.000609,0.382525,467.074805,529.380754,0.382221,15.284980,0.764239,0.382119,...,649.020559,97.189156,11.499333,0.845261,0.042263,0.021131,0.021137,8.581796,"POLYGON ((-83.272156 40.121804, -83.271939 40....",3
39159050602,4.326148,9.888713,0.000984,0.618537,755.251935,855.999602,0.618045,24.715551,1.235761,0.617881,...,1049.455024,97.189156,11.499333,0.845261,0.042263,0.021131,0.021137,8.581796,"POLYGON ((-83.35661399999999 40.235835, -83.34...",3
39159050700,5.997828,15.994209,5.997828,3.998552,1230.554443,1432.481323,0.999638,1.999276,0.000000,0.000000,...,1791.351440,98.620000,14.020000,0.040000,0.000000,0.000000,0.020000,8.940000,"POLYGON ((-83.526325 40.228298, -83.520433 40....",0
39159050100,0.000000,5.000000,8.000000,0.000000,922.000000,1074.000000,0.000000,0.000000,0.000000,1.000000,...,1396.000000,98.101788,14.662999,0.000000,0.000000,0.027510,0.000000,7.922971,"POLYGON ((-83.529747 40.423203, -83.528215 40....",3
39159050200,2.000000,3.000000,9.000000,0.000000,1129.000000,1291.000000,0.000000,3.000000,0.000000,0.000000,...,1713.000000,97.824624,14.734245,0.067280,0.000000,0.000000,0.000000,9.150034,"POLYGON ((-83.536238 40.365789, -83.534762 40....",3
39159050301,6.463654,5.386378,11.490940,1.436368,818.729492,946.925293,2.154551,1.077276,2.154551,0.000000,...,1076.198364,96.145788,9.722869,0.034932,0.069865,0.000000,0.069865,8.034467,"POLYGON ((-83.548306 40.256012, -83.5455669999...",0
39159050303,6.426176,5.355146,11.424313,1.428039,813.982300,941.434753,2.142059,1.071029,2.142059,0.000000,...,1069.958252,96.145783,9.722869,0.034932,0.069865,0.000000,0.069865,8.034467,"POLYGON ((-83.398473 40.29322, -83.39647699999...",0
39159050304,5.110170,4.258475,9.084747,1.135593,647.288269,748.639954,1.703390,0.851695,1.703390,0.000000,...,850.843384,96.145784,9.722869,0.034932,0.069865,0.000000,0.069865,8.034467,"POLYGON ((-83.45484499999999 40.325218, -83.45...",0
39159050400,17.000579,10.000386,22.000289,1.000482,1499.129371,1722.153296,1.000193,10.000000,9.000289,0.000193,...,2431.205585,85.329016,10.420235,0.131224,0.118105,0.000003,0.013125,5.459783,"POLYGON ((-83.398601 40.239978, -83.397959 40....",3
39159050500,3.000000,17.000000,22.000000,4.000000,1179.000000,1379.000000,9.000000,3.000000,2.000000,0.000000,...,2215.000000,96.630542,17.970443,0.059113,0.039409,0.000000,0.177340,15.290640,POLYGON ((-83.39540000000001 40.21129699999999...,3
39159050601,1.910597,8.406628,4.967553,1.146358,522.739380,613.301697,0.382119,11.845703,0.382119,0.000000,...,891.866760,96.168456,11.235761,0.535036,0.017259,0.000000,0.017259,8.267173,"POLYGON ((-83.272156 40.121804, -83.271939 40....",0
39159050602,3.089403,13.593372,8.032448,1.853642,845.260620,991.698364,0.617881,19.154299,0.617881,0.000000,...,1442.133301,96.168449,11.235761,0.535036,0.017259,0.000000,0.017259,8.267173,"POLYGON ((-83.35661399999999 40.235835, -83.34...",0
39159050700,5.999421,3.999614,2.999711,4.999517,1340.870605,1588.846680,1.999807,0.000000,2.999711,1.999807,...,2130.794434,98.152667,14.377832,0.000000,0.052283,0.034855,0.034855,11.868246,"POLYGON ((-83.526325 40.228298, -83.520433 40....",0
39159050100,0.000000,0.000000,4.000000,0.000000,862.000000,1049.000000,NaN,NaN,NaN,NaN,...,1631.000000,98.487141,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-83.529747 40.423203, -83.528215 40....",3
39159050200,10.000000,1.000000,0.000000,0.000000,1043.000000,1273.000000,NaN,NaN,NaN,NaN,...,1908.000000,95.332481,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-83.536238 40.365789, -83.534762 40....",3
39159050301,0.000000,0.000000,0.000000,0.000000,597.000000,937.000000,NaN,NaN,NaN,NaN,...,1395.000000,99.480069,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-83.548306 40.256012, -83.5455669999...",0
39159050303,20.000000,16.000000,0.000000,0.000000,1959.000000,2324.000000,NaN,NaN,NaN,NaN,...,1992.000000,93.636786,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-83.398473 40.29322, -83.39647699999...",0
39159050304,0.000000,18.000000,0.000000,0.000000,567.000000,666.000000,NaN,NaN,NaN,NaN,...,1002.000000,97.935484,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-83.45484499999999 40.325218, -83.45...",0
39159050400,71.000000,3.000000,36.000000,0.000000,1450.000000,1859.000000,NaN,NaN,NaN,NaN,...,2824.000000,87.705957,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-83.398601 40.239978, -83.397959 40....",3
39159050500,94.000000,0.000000,0.000000,0.000000,984.000000,1310.000000,NaN,NaN,NaN,NaN,...,2544.000000,91.948991,NaN,NaN,NaN,NaN,NaN,NaN,POLYGON ((-83.39540000000001 40.21129699999999...,3
39159050601,216.000000,19.000000,59.000000,0.000000,850.000000,1505.000000,NaN,NaN,NaN,NaN,...,1621.000000,80.831359,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-83.272156 40.121804, -83.271939 40....",0
39159050602,57.000000,0.000000,0.000000,0.000000,507.000000,925.000000,NaN,NaN,NaN,NaN,...,1761.000000,84.860363,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-83.35661399999999 40.235835, -83.34...",3
39159050700,0.000000,0.000000,103.000000,0.000000,1810.000000,2249.000000,NaN,NaN,NaN,NaN,...,2754.000000,96.975135,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-83.526325 40.228298, -83.520433 40....",0

In [7]:
columbus.gdf.describe()

,n_asian_under_15,n_black_under_15,n_hispanic_under_15,n_native_under_15,n_white_under_15,n_persons_under_18,n_asian_over_60,n_black_over_60,n_hispanic_over_60,n_native_over_60,...,n_white_persons,year,n_total_housing_units_sample,p_nonhisp_white_persons,p_white_over_60,p_black_over_60,p_hispanic_over_60,p_native_over_60,p_asian_over_60,p_disabled
count,1672.000000,1940.000000,1672.000000,1672.000000,2008.000000,2008.000000,1241.000000,1509.000000,1241.000000,1241.000000,...,336.000000,2008.000000,2008.000000,1672.000000,1577.000000,1509.000000,1241.000000,1241.000000,1241.000000,1577.000000
mean,15.714495,125.944063,21.164742,1.227273,615.756615,940.151154,2.551090,39.564625,1.840247,0.473734,...,2398.874036,1991.235060,1427.053434,81.554311,10.855994,1.183477,0.052036,0.013938,0.068217,7.961886
std,43.295055,262.036518,48.194609,3.928431,481.960644,588.595403,4.580426,114.205586,2.772873,0.967512,...,1840.341717,13.841891,765.216684,24.173496,7.109066,3.332036,0.081724,0.030484,0.113736,4.503483
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.031740,1970.000000,0.009182,1.909059,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.198226,0.041828,0.000000,205.000000,513.750000,0.000000,0.000402,0.000000,0.000000,...,734.794701,1980.000000,942.982471,78.567439,5.383832,0.000028,0.000000,0.000000,0.000000,4.634939
50%,2.842409,16.000000,7.518665,0.000000,549.654396,878.010657,0.641971,3.028295,0.994432,0.000000,...,2158.864707,1990.000000,1381.666199,92.075976,10.420235,0.111152,0.025954,0.000000,0.018832,6.996625
75%,14.005660,107.714780,20.000000,1.001310,908.500000,1284.884796,3.000000,19.337119,3.000000,0.811625,...,3698.469995,2000.000000,1864.957245,97.130156,15.100684,0.575374,0.072308,0.018882,0.093480,10.460624
max,1139.000000,2455.005536,686.000000,93.000000,3260.901611,4810.000000,36.000000,1327.819259,27.000000,10.000000,...,10792.342843,2010.000000,7848.000000,99.795437,51.639799,29.071244,1.088271,0.339098,0.958160,31.075419